<h1><%= @app.name %></h1>
<h3>Address: <%= @app.street_address %>, <%= @app.city %>, <%= @app.state %> <%= @app.zip_code %></h4>

<h3>Description: <%= @app.description %></h3>
<h3>Pets: </h3>
<% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<h3>Status: <%= @app.app_status %></h3>
