<section id="attributes">
  <h1><%= @app.name %></h1>
  <h3>Address: <%= @app.street_address %>, <%= @app.city %>, <%= @app.state %> <%= @app.zip_code %></h3>
  <h3>Description: <%= @app.description %></h3>
  <h3>Status: <%= @app.app_status %></h3>
</section>

<section id="app_pets">
  <h3>Pets: </h3>
  <% @app.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% if @app.pet_status(pet.id) == "Pending" %>
      <% if pet.adoptable %>
        <%= button_to "Approve #{pet.name}", "/admin/applications/#{@app.id}", params: {pet_id: pet.id, status: "Approved"}, method: :patch %>
      <% end %>
      <%= button_to "Reject #{pet.name}", "/admin/applications/#{@app.id}", params: {pet_id: pet.id, status: "Rejected"}, method: :patch %>
    <% else %>
      - <%= @app.pet_status(pet.id) %></p>
    <% end %>
  <% end %>
</section>
